package web

import (
	"github.com/jankrum/formful/internal/flash"
	"github.com/jankrum/formful/internal/middleware"
)

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<title>{ title } – Formful</title>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
			if middleware.GetSession(ctx) == nil {
				<script nonce={ middleware.GetNonce(ctx) } src="/assets/js/theme-switch.js"></script>
			} else {
				<script nonce={ middleware.GetNonce(ctx) } src="/assets/js/theme-read.js"></script>
			}
			<link href="/assets/css/app.css" rel="stylesheet"/>
			<script nonce={ middleware.GetNonce(ctx) } src="/assets/js/vendor/htmx.min.js"></script>
			<script nonce={ middleware.GetNonce(ctx) } src="/assets/js/vendor/surreal.js"></script>
		</head>
		<body>
			if msg := flash.GetMessage(ctx); msg != "" {
				<div class="notification is-info">{ msg }</div>
			}
			{ children... }
		</body>
	</html>
}
