package web

templ Index() {
	@Base("Home") {
		<section class="hero is-fullheight">
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title is-1">Formful</h1>
					<p class="subtitle">Create and share forms</p>
					<a href="/login" class="button is-primary is-large">Get Started</a>
				</div>
			</div>
		</section>
	}
}
